<html>
<head>
<title>Admin Login page</title>
</head>
<body style="text-align:center">
<h1> Enter below credentials to login</h1>


<form style="text-align:center;margin-left:35vw" action="admins" method="get">
<table>
		<tr><td><label>Id</label></td>
		<td><input type="number" name="id"></input></td></tr>
		<tr><td><label>Name</label></td>
		<td><input type="text" name="name"></input></td></tr>
		<tr><td><label>Qualification</label></td>
		<td><input type="text" name="qualification"></input></td></tr>
		<tr><td><label>Email</label></td>
		<td><input type="text" name="email"></input></td></tr>
		<tr><td><label>Password</label></td>
		<td><input type="text" name="pwd"></td></tr>

		<tr><td><input type ="submit" value ="Submit"></input></td></tr>
		
       </table>
	</form>
	<a href="/">Back To Home</a>
</body>
</html>